<h1>Listing Recipes</h1>

<br>
<p>This is purely for testing</p>
<table>
    <tr>
        <th>Name</th>
        <th>Ingredients</th>
    </tr>
    
    <%= @recipes.each do |recipe| %>
        <tr>
            <td><%= recipe.name %></td>
            <td><%= recipe.ingredients %></td>
            <td><%= link_to 'Show', recipe_path(recipe) %></td>
        </tr>
    <% end %>
</table>