<p>
    <%= @recipe.title %>
</p>
<p>
    <strong>Ingredients: </strong> <br>
    <%= @recipe.ingredients %>
</p>
<p>
    <strong>Directions: </strong> <br>
    <%= @recipe.directions %>
</p>
<p>
    <strong>- Tags - </strong> <br>
    <%= @recipe.tags %>
</p>