<meta name="viewport" content="width=device-width, initial-scale=1">
<div id="navcontainer">
      <ul id="navbar">
        <li><a href="nothing.erb">Home</a></li>
        <li><a href="nothing.erb">Upload</a></li>
        <li><a href="nothing.erb">Share</a></li>
        <li><a href="nothing.erb">About Us</a></li>
      </ul>
  </div>

<div id="universal">
  <div id="titlediv">
    <h1 id="titleheading"></h1>
  </div>
  <div id="subdiv">
    <p id="subtitle">something witty should go in the subtitle</p>
  </div>
  <br>
</div>

<div class="body1">
  <div class="inner">
  <div id="leftscroll"><p id="fortesting">testing</p></div>
  <div id="bodyscroll"><p id="fortesting2">this is where the body will go
  <br>
  
  </div>
</div>
<div id="footer">Awesome, optional stuff will go here</div>
