<meta name="viewport" content="width=device-width, initial-scale=1">
<div id="navcontainer">
      <ul id="navbar">
        <li><a href="nothing.erb">Home</a></li>
        <li><a href="nothing.erb">Add Recipe</a></li>
        <li><a href="nothing.erb">Share</a></li>
        <li><a href="nothing.erb">About Us</a></li>
        <li class="rightNav"><a href="signup">Sign Up</a></li>
        <li class="rightNav"><a href="signIn">Sign In</a></li>
      </ul>
  </div>

<div id="universal">
  <div id="titlediv">
    <h1 id="titleheading"></h1>
  </div>
  <div id="navcontainer">
    <p id="sub">
      <ul id="tagbar">
        <li><a href="nothing.erb">Breakfast</a></li>
        <li><a href="nothing.erb">Lunch</a></li>
        <li><a href="nothing.erb">Dinner</a></li>
        <li><a href="nothing.erb">Dessert</a></li>
      </ul>
    </p>
  </div>
  <br>
</div>

<div class="body1">
  <div class="inner">
  <div id="leftscroll">
      <ul id="subtagbar">
        <li><a href="nothing.erb">Gluten-free</a></li>
        <li><a href="nothing.erb">Lactose Free</a></li>
        <li><a href="nothing.erb">Vegan</a></li>
        <li><a href="nothing.erb">Vegetarian</a></li>
      </ul>
    </div>
  <div id="bodyscroll">
    <div class="imgContainer">
      <img src="https://cdn.pixabay.com/photo/2017/02/14/04/12/cake-2064637_1280.jpg"
      alt="Pie" class="image">
      <div class="overlay">
        <div class="text"><a href="nothing">Want pie?</a></div>
      </div>
    </div>
    </a>
  </div>
</div>
</div>
<div id="footcontainer">
  <ul id="footer">
    <li>Lucky Ducky Foocipes ©</li>
  </ul>
</div>