<meta name="viewport" content="width=device-width, initial-scale=1">
<div id="navcontainer">
  <ul id="signInContainer">
        <% if current_user %>
        <li>Signed in as <strong><%= current_user.name %></strong>
        </li>
        <li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
      <% else %>
        <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
          <script>
          $(function() {
            $(session).toggle();
            console.log("here");
          });
        </script>
      <% end %>
  </ul>
      <ul id="navbar">
        <li><a href= "/" >Home</a></li>
        <li><a href="nothing.erb">Share</a></li>
        <li><a href="nothing.erb">About Us</a></li>
        <li id="session"><a href="recipe/add" class="not-active">Add Recipe</a></li>
      </ul>
  </div>

<div id="universal">
  <div id="titlediv">
    <h1 id="titleheading"></h1>
  </div>
  <div id="navcontainer">
    <p id="sub">
      <ul id="tagbar">
        <li><a href="nothing.erb">Breakfast</a></li>
        <li><a href="nothing.erb">Lunch</a></li>
        <li><a href="nothing.erb">Dinner</a></li>
        <li><a href="nothing.erb">Dessert</a></li>
      </ul>
    </p>
  </div>
  <br>
</div>

<div class="body1">
  <div class="inner">
  <div id="leftscroll">
      <ul id="subtagbar">
        <li><a href="nothing.erb">Gluten-free</a></li>
        <li><a href="nothing.erb">Lactose Free</a></li>
        <li><a href="nothing.erb">Vegan</a></li>
        <li><a href="nothing.erb">Vegetarian</a></li>
      </ul>
    </div>
  <div id="bodyscroll">
    <div class="imgContainer">
      <img src= ""
      alt="Pie" class="image">
      <div class="overlay">
        <div class="text"><a href="nothing">Want pie?</a></div>
      </div>
    </div>
    <div class="imgContainer">
      <img src= ""
      alt="Pie" class="image">
      <div class="overlay">
        <div class="text"><a href="nothing">Or Cupcakes?</a></div>
      </div>
    </div>
    <div class="imgContainer">
      <img src=""
      alt="Pie" class="image">
      <div class="overlay">
        <div class="text"><a href="nothing">Cake cake cake cake</a></div>
      </div>
    </div>
    <div class="imgContainer">
      <img src=""
      alt="Pie" class="image">
      <div class="overlay">
        <div class="text"><a href="nothing">Pineapples!</a></div>
      </div>
    </div>
  </div>
</div>
</div>
<div id="footcontainer">
  <ul id="footer">
    <li>Lucky Ducky Foocipes ©</li>
  </ul>
</div>