// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Colors from logo: 
// #FFD147 - yellowish 
// #82B9FD - light blue
// #FF9604 - orange 
// #5E92FF - blue
// #A8C4FF - light light blue

#universal {
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#navcontainer {
  background: #5E92FF;
  height: 60px;
}

#tagcontainer {
  background: #5E92FF;
  height: 60px;
}

#footcontainer {
  background: #5E92FF;
  height: 60px;
}

#navbar  {
  list-style-type: none;
  height: 75px; 
  width: 75%;
  display: inline;
  overflow: hidden; 
}

#tagbar {
  list-style-type: none;
  height: 75px;
  width: 75%; 
  display: block; 
  left: 50%;
  overflow: hidden;
}

#subtagbar {
  list-style-type: none;
}

#footer {
  list-style-type: none;
  position: relative;
  height: 45px;
  width: 75%;
  display: table;
  margin: 0 auto 0 auto;
  padding: 10px;
}

#navbar li {
  font-size: 20px;
  float: left;
}

#tagbar li {
  font-size: 20px;
  float: left;
}

#subtagbar li {
  font-size: 17px;
  float: left; 
}

#footer li {
  font-size: 20px;
  display: table;
  margin: 0 auto 0 auto;
  text-decoration: none;
  color: white; 
}

#navbar a{
  display: block;
  text-decoration: none;
  color: white;
  padding: 20px;
}

#tagbar a {
  display: block;
  text-decoration: none;
  color: white;
}

#subtagbar a {
  text-decoration: initial;
  color: black;
  padding: 5px;
  display: block;
}

#navbar a:hover {
  background-color: #111111;
}

#tagbar a:hover {
  background-color: #111111;
}

#subtagbar a:hover {
  background-color: gray;
}

.rightNav {
    
}

#titlediv{
  display: inline-block;
  background-image: url("https://github.com/mrclayto21/mrclayto21.github.io/blob/master/LuckyDucky.jpg?raw=true");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 500px;
  height: 250px;
  margin: 0 auto;
}
#titleheading {
  float: left;
  font-size: 75px;
  color: #A3575A;
}

#subdiv {
  width: 100%;
  height: auto;
  margin: 0, auto;
  padding: 0px;
  color: #656160;
}

#sub {
  font-size: 18px;
  font-style: italic;
}

.body1 {
  position: relative;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%; 
  height: 600px;
  border: 1px dotted red;
}

.inner {
  display: inline-block;
  padding: 10px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#leftscroll {
  float: left;
  width: 20%;
  height: 400px;
  overflow-x:hidden;
  overflow-y:scroll;
}

#bodyscroll {
  margin-left: 0%;
  max-width: 90%;
  height: 500px;
  overflow: scroll;
  border: 1px solid black;
}

#pagefooter {
  list-style-type:none;
  height: 75px; 
  width: 75%;
  display: inline;
  overflow: hidden; 
  
}

.subTags {
  max-height: 900px;
  max-width: 200px;
}


#picturebutton1 {
  height: 100px;
  width: 100px;
  color: white;
  font-family: "Georgia", "Times New Roman", serif;
  font-size: 14px;
  background-image: url("https://cdn.pixabay.com/photo/2013/04/07/21/30/croissant-101636_1280.jpg");
  background-position: center center;
  border: none;
}

.imgContainer {
  position: relative;
  width: 50%;
  margin: 0 auto;
  padding: 5px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0; 
  bottom: 0;
  left: 0; 
  right: 0; 
  height: 100%;
  width: 100;
  opacity: 0;
  transition: .5s ease;
  background-color: #FF9604 ;
}

.imgContainer:hover .overlay {
  opacity: 1;
}

.text{
  color: white;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#sessionActive {
  background-color: #FFD147;
}

#recipeform {
  margin-left: 45%;
  color:#5E92FF;
}
